ensure all formalized datetime formats are supported

## Feature

All formalized datetime formats should be supported, e.g. _RFC 3339_, _ISO 8601_, etc.

Update the `README.md` section `Features`.

Also see https://www.unixtimestamp.com/index.php

As of `0.0.34`

- [X] ISO 8601 https://github.com/jtmoon79/super-speedy-syslog-searcher/blob/0.0.34/src/data/datetime.rs#L2084-L2116
- [X] RFC 3339 https://github.com/jtmoon79/super-speedy-syslog-searcher/blob/0.0.34/src/data/datetime.rs#L2084-L2116
- [ ] RFC 3164 supported, but the test cases need to be commented like `// RFC 3164 syntax`
- [ ] RFC 2822 supported but very limited, the test cases need to be commented like `// RFC 2822 syntax`, also need more varying forms of it as RFC 2822 allows arbitrary whitespace. Not _all_ permuations need to be supported (like for example, datetimes crossing newlines would not be possible) but an attempt to support more variations could easily be done.
- [ ] RFC 5424 supported, but the test cases need to be commented like `// RFC 5424 syntax`

Each one of these formalized types needs a sample log file under `./logs/standards/`.

Once this is fixed then this Issue can be closed.
```lang-text
$ ./target/release/s4 ./logs/standards/RFC-2822.log
WARNING: no syslines found "./logs/standards/RFC-2822.log"

$ ./target/release/s4 --version
super_speedy_syslog_searcher 0.4.57
```