FileHandleManager sometimes fails to start Python process

### `s4` sometimes has return code 1

This command taken from current CI setup:
```text
(ulimit -n 40; ./target/release/s4 ./logs/other/tests/dtf5-6b.UTF-16BE.log ./logs/other/tests/dtf5-6b.UTF-16BE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16BE.log.gz ./logs/other/tests/dtf5-6b.UTF-16BE.log.lz ./logs/other/tests/dtf5-6b.UTF-16BE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16BE.log.lzo ./logs/other/tests/dtf5-6b.UTF-16BE.log.xz ./logs/other/tests/dtf5-6b.UTF-16BE.log.zst ./logs/other/tests/dtf5-6b.UTF-16BE.tar ./logs/other/tests/dtf5-6b.UTF-16BE.tar.gz ./logs/other/tests/dtf5-6b.UTF-16BE.tar.lz ./logs/other/tests/dtf5-6b.UTF-16BE.tar.lzo ./logs/other/tests/dtf5-6b.UTF-16BE.tar.xz ./logs/other/tests/dtf5-6b.UTF-16BE.zip ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.lz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.lzo ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.zst ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.tar.gz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.tar.lz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.tar.lzo ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.tar.xz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.zip ./logs/other/tests/dtf5-6b.UTF-16LE.log ./logs/other/tests/dtf5-6b.UTF-16LE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16LE.log.gz ./logs/other/tests/dtf5-6b.UTF-16LE.log.lz ./logs/other/tests/dtf5-6b.UTF-16LE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16LE.log.lzo ./logs/other/tests/dtf5-6b.UTF-16LE.log.xz ./logs/other/tests/dtf5-6b.UTF-16LE.log.zst ./logs/other/tests/dtf5-6b.UTF-16LE.tar ./logs/other/tests/dtf5-6b.UTF-16LE.tar.gz ./logs/other/tests/dtf5-6b.UTF-16LE.tar.lz ./logs/other/tests/dtf5-6b.UTF-16LE.tar.lzo ./logs/other/tests/dtf5-6b.UTF-16LE.tar.xz ./logs/other/tests/dtf5-6b.UTF-16LE.zip ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.lz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.lzo ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.zst ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.tar.gz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.tar.lz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.tar.lzo ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.tar.xz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.zip ./logs/other/tests/dtf5-6b.UTF-32BE.log ./logs/other/tests/dtf5-6b.UTF-32BE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32BE.log.gz ./logs/other/tests/dtf5-6b.UTF-32BE.log.lz ./logs/other/tests/dtf5-6b.UTF-32BE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32BE.log.lzo ./logs/other/tests/dtf5-6b.UTF-32BE.log.xz ./logs/other/tests/dtf5-6b.UTF-32BE.log.zst ./logs/other/tests/dtf5-6b.UTF-32BE.tar ./logs/other/tests/dtf5-6b.UTF-32BE.tar.gz ./logs/other/tests/dtf5-6b.UTF-32BE.tar.lz ./logs/other/tests/dtf5-6b.UTF-32BE.tar.lzo ./logs/other/tests/dtf5-6b.UTF-32BE.tar.xz ./logs/other/tests/dtf5-6b.UTF-32BE.zip ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.lz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.lzo ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.zst ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.tar.gz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.tar.lz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.tar.lzo ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.tar.xz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.zip ./logs/other/tests/dtf5-6b.UTF-32LE.log ./logs/other/tests/dtf5-6b.UTF-32LE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32LE.log.gz ./logs/other/tests/dtf5-6b.UTF-32LE.log.lz ./logs/other/tests/dtf5-6b.UTF-32LE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32LE.log.lzo ./logs/other/tests/dtf5-6b.UTF-32LE.log.xz ./logs/other/tests/dtf5-6b.UTF-32LE.log.zst ./logs/other/tests/dtf5-6b.UTF-32LE.tar ./logs/other/tests/dtf5-6b.UTF-32LE.tar.gz ./logs/other/tests/dtf5-6b.UTF-32LE.tar.lz ./logs/other/tests/dtf5-6b.UTF-32LE.tar.lzo ./logs/other/tests/dtf5-6b.UTF-32LE.tar.xz ./logs/other/tests/dtf5-6b.UTF-32LE.zip ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.lz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.lzo ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.zst ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.tar.gz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.tar.lz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.tar.lzo ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.tar.xz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.zip ./logs/other/tests/dtf5-6b.UTF-8.log ./logs/other/tests/dtf5-6b.UTF-8.log.bz2 ./logs/other/tests/dtf5-6b.UTF-8.log.gz ./logs/other/tests/dtf5-6b.UTF-8.log.lz ./logs/other/tests/dtf5-6b.UTF-8.log.lz4 ./logs/other/tests/dtf5-6b.UTF-8.log.lzo ./logs/other/tests/dtf5-6b.UTF-8.log.xz ./logs/other/tests/dtf5-6b.UTF-8.log.zst ./logs/other/tests/dtf5-6b.UTF-8.tar ./logs/other/tests/dtf5-6b.UTF-8.tar.gz ./logs/other/tests/dtf5-6b.UTF-8.tar.lz ./logs/other/tests/dtf5-6b.UTF-8.tar.lzo ./logs/other/tests/dtf5-6b.UTF-8.tar.xz ./logs/other/tests/dtf5-6b.UTF-8.zip ./logs/other/tests/dtf5-6b.UTF-8_BOM.log ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.lz ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.lzo ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.zst ./logs/other/tests/dtf5-6b.UTF-8_BOM.tar ./logs/other/tests/dtf5-6b.UTF-8_BOM.tar.gz ./logs/other/tests/dtf5-6b.UTF-8_BOM.tar.lz ./logs/other/tests/dtf5-6b.UTF-8_BOM.tar.lzo ./logs/other/tests/dtf5-6b.UTF-8_BOM.tar.xz ./logs/other/tests/dtf5-6b.UTF-8_BOM.zip ./logs/other/tests/dtf5-6b.log ./logs/other/tests/dtf5-6b.log.bz2 ./logs/other/tests/dtf5-6b.log.gz ./logs/other/tests/dtf5-6b.log.lz ./logs/other/tests/dtf5-6b.log.lz4 ./logs/other/tests/dtf5-6b.log.lzo ./logs/other/tests/dtf5-6b.log.xz ./logs/other/tests/dtf5-6b.log.zst ./logs/other/tests/dtf5-6b.tar ./logs/other/tests/dtf5-6b.tar.gz ./logs/other/tests/dtf5-6b.tar.lz ./logs/other/tests/dtf5-6b.tar.lzo ./logs/other/tests/dtf5-6b.tar.xz ./logs/other/tests/dtf5-6b.zip ./logs/CentOS9/x86_64/wtmp ./logs/other/tests/dtf2-2.log ./logs/other/tests/dtf3-2a.log ./logs/other/tests/dtf5-6a.log.gz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-16BE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-16BE.log ./logs/other/tests/dtf5-6b.UTF-16BE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16BE.log.gz ./logs/other/tests/dtf5-6b.UTF-16BE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16BE.log.xz ./logs/other/tests/dtf5-6b.UTF-16BE.tar ./logs/other/tests/dtf5-6b.UTF-16LE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16LE.log.gz ./logs/other/tests/dtf5-6b.UTF-16LE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16LE.log.xz ./logs/other/tests/dtf5-6b.UTF-16LE.tar ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-16LE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-32BE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-32BE.log ./logs/other/tests/dtf5-6b.UTF-32BE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32BE.log.gz ./logs/other/tests/dtf5-6b.UTF-32BE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32BE.log.xz ./logs/other/tests/dtf5-6b.UTF-32BE.tar ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-32LE_BOM.tar ./logs/other/tests/dtf5-6b.UTF-32LE.log ./logs/other/tests/dtf5-6b.UTF-32LE.log.bz2 ./logs/other/tests/dtf5-6b.UTF-32LE.log.gz ./logs/other/tests/dtf5-6b.UTF-32LE.log.lz4 ./logs/other/tests/dtf5-6b.UTF-32LE.log.xz ./logs/other/tests/dtf5-6b.UTF-32LE.tar ./logs/other/tests/dtf5-6b.UTF-8_BOM.log ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.bz2 ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.gz ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.lz4 ./logs/other/tests/dtf5-6b.UTF-8_BOM.log.xz ./logs/other/tests/dtf5-6b.UTF-8_BOM.tar ./logs/other/tests/dtf5-6b.UTF-8.log ./logs/other/tests/dtf5-6b.UTF-8.log.bz2 ./logs/other/tests/dtf5-6b.UTF-8.log.gz ./logs/other/tests/dtf5-6b.UTF-8.log.lz4 ./logs/other/tests/dtf5-6b.UTF-8.log.xz ./logs/other/tests/dtf5-6b.UTF-8.tar ./logs/other/tests/dtf7-20-LEVELS.log.xz ./logs/other/tests/gen-2-1.tar ./logs/other/tests/gen-20-1-faces.log ./logs/other/tests/gen-20-1-⚀⚁⚂⚃⚄⚅.log ./logs/other/tests/gen-20-2-2-faces.log ./logs/programs/Event_Trace_Log/waasmedic.20251005_113019_195.etl ./logs/programs/evtx/Microsoft-Windows-Kernel-PnP__Configuration.evtx ./logs/programs/journal/RHE_91_system.journal ./logs/programs/journal/RHE_91_system.journal.gz ./logs/programs/OneDrive/Local/Microsoft/OneDrive/logs/Common/FileCoAuth-2025-12-21.1214.4056.1.odl ./logs/programs/strace/strace-unix,us_ls.out ./logs/programs/utmp/host-entry6.wtmp ./logs/programs/utmp/host-entry6.wtmp.bz2 ./logs/programs/utmp/host-entry6.wtmp.gz ./logs/programs/utmp/host-entry6.wtmp.lz4 ./logs/programs/utmp/host-entry6.wtmp.tar ./logs/programs/utmp/host-entry6.wtmp.xz ./logs/standards/ctime.log ./logs/standards/ISO8601-Date-Extend.log ./logs/standards/ISO8601-Date-Ordinal.log ./logs/standards/ISO8601-Date-Week.log ./logs/standards/ISO8601-YY-MM-DD.log ./logs/standards/ISO8601-YYYYDDMMTHHMM.log ./logs/standards/ISO8601-YYYYDDMMTHHMMSS.log ./logs/standards/ISO8601-YYYYMM.log ./logs/standards/ISO8601-YYYYMMDD.log ./logs/standards/ISO8601-YYYY-DD-MMTHH-MM-SS.log ./logs/standards/ISO8601-YYYY-DDD.log ./logs/standards/ISO8601-YYYY-MM-DD.log ./logs/standards/RFC-2822.log ./logs/standards/RFC-3164.log ./logs/standards/RFC-5424-2dot-0400.log ./logs/standards/RFC-5424-2dotZ.log ./logs/standards/RFC-5424-3dotZ.log ./logs/standards/RFC-5424-6dot-0700.log ./logs/standards/Unix-ms.log ./logs/standards/W3C-DTF.log 1>/dev/null )
```

***sometimes*** results in error
```
ERROR: Python process failed to start: Python path "/home/user/.config/s4/venv/bin/python3"; Too many open files (os error 24) for "./logs/programs/OneDrive/Local/Microsoft/OneDrive/logs/Common/FileCoAuth-2025-12-21.1214.4056.1.odl"
```

The `FileHandleManager` is predicting and then handing out `FileHandle`s in a manner that may fail.  The algorithm for predicting and then reserving `FileHandleUnmanaged` handles is the most likely culprit.

### To Reproduce

1. Run the above command multiple times in a row.
   Appears to fail about 1 out of 5 runs.

This is rare to occur in real-world because in this case the `ulimit -n` is a contrived low value `40` and is passed about 250 file paths.  Real-world handle count limits will be higher leaving more room for on-the-fly adjustments.

### Environment:

 - OS: Ubuntu 24
 - s4 version: 0.10.83

